.theLayout {
	display: flex;
}

.main {
	flex-grow: 1;
	background: var(--color-gray-50);
	border: .0625rem solid var(--color-gray-250);
	border-right: none;
	margin-bottom: .5rem;
	padding: 1.5rem;
	border-radius: .5rem 0 0 .5rem;
	box-shadow: 0 .125rem	 .25rem var(--color-gray-350);
}

@media (--screen-md) {
	.main {
		border-radius: 0;
		border-inline: none;
		padding-inline: 1rem;
	}
}
