<meta name="theme-color" content="#ff9329">
<meta name="color-scheme" content="light only">

<meta property="og:title" content="{{ title or metadata.title }}">
<meta name="fediverse:creator" content="@deuxfleurs@mastodon.tedomum.net">
<meta name="description" content="{{ description or metadata.description }}">
<meta itemprop="description" content="{{ description or metadata.description }}">
<meta property="og:description" content="{{ description or metadata.description }}">
<meta itemprop="author" content="{{ metadata.author }}">
<meta property="og:author" content="{{ metadata.author }}">
<meta property="og:type" content="website">
<meta property="og:site_name" content="{{ metadata.site_name }}">
<meta property="og:image" content="https://{{ metadata.domain }}/open-graph.png?v=1">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="650">
<meta property="og:image:alt" content="Garage Web Admin UI Documentation">
<!-- icons & infos for browsers-->
<link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
<link rel="shortcut icon" href="favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="{{ title }}" />
<link rel="manifest" href="/site.webmanifest" />
